*{
    padding: 0%;
    margin: 0%;
}
.main{
    padding: 5%;
    display: flex;
    gap:20px;
    padding-top: 10%;
}
.titles{
    padding-left: 5%;
    width: 50%;
    
}

#none{
    border-bottom: none;
    background-color:#F9F9F9;
    border-radius: 10px;
    padding: 5%;
}

h2{
    color: rgba(47, 47, 47, 1);
    font-size: 25px;
    font-family: arial;
}
table {
    border-collapse: collapse;
    width: 100%;
}
  
tr {
    border-bottom: 1px solid #ddd;
}
td{
    padding-right: 20px;
    padding-top: 5%;
}
.copies{
    font-family: arial;
    background-color: #F9F9F9;
    border-radius: 10px;
    width: 50%;
    padding-top: 3%;
    padding-left: 2%;
}
a{
    text-decoration: none;
    color: black;
   
}
.request{
    background-color: #C6E0FF;
    float: right;
    padding-top: 10%;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10%;
    margin-bottom: 10%;
}
@media ( max-width: 1000px){
    .main{
        display: block;
    }
}