{% extends "base.html" %}{% load wagtailcore_tags %}{% load static %}{% load wagtailimages_tags %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />{% block extra_styles%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}" />{% endblock %}
</head>

{% block content %}
<div class="about-page">
    <div class="top-banner" style="background-image: url('/static/images/top.jpg'); background-repeat: no-repeat; background-size: cover;">
        {% include "header.html" %}
        <div class="top-heading">
            <h1>ABOUT US</h1>
            <p>Get to know us better! Discover the heart behind Deeper Life Church</p>
        </div>
    </div>
    <div class="introduction">
            <div class="GS-image" style="background-image: url('{{page.GS_image.url}}'); background-size: cover; background-repeat: no-repeat;"></div>
            <div class="DLC-background">
                <div class="history">
                    <h2>
                        The General <br>Superintendent
                        <div id="border"></id>
                    </h2>
                    <p>
                    {{page.general_superintendent|richtext}}
                    </p>
                </div>
            </div>
    </div>
    <div class="charge">
        <div class="first-charge charge-bottom" style="background-image: {% if page.who_we_are_image %} url('{{page.who_we_are_image.url}}') {% else %} url('/static/images/first-charge.jpg') {% endif %}; background-size: cover; backgound-repeat: no-repeat;">
            <div class="learn-more">
                <label><a href="#" class="learn-more-link">LEARN MORE</a></label>
            </div>
            <div class="charge-area">
                <div class="our-believe">
                    <label>WHO WE ARE</label>
                </div>
                <div class="doctrine">
                    <label>An enriching history of Bible believing believers</label>
                </div>
                <div class="text-area">
                    <label>
                        {{page.who_we_are|richtext}}
                    </label>
                </div>
            </div>
        </div>
        <div class="second-charge charge-bottom" style="background-image: {% if page.our_belief_image %} url('{{page.our_belief_image.url}}') {% else %} url('/static/images/second-charge.jpg') {% endif %}; background-size: cover; backgound-repeat: no-repeat;">
            <div class="learn-more">
                <label><a href="#" class="learn-more-link">LEARN MORE</a></label>
            </div>
            <div class="charge-area">
                <div class="our-mission">
                    <label>OUR BELIEVE</label>
                </div>
                <div class="doctrine2">
                    <label>The Bible Doctrines We Believe</label>
                </div>
                <div class="text-area">
                    <label>
                        {{page.our_belief|richtext}}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="image-advert" style="background-image: {% if page.advert_image %} url('{{page.advert_image.url}}') {% else %} url('/static/images/advert.jpg') {% endif %}; background-size: cover; backgound-repeat: no-repeat;"></div>
    <div class="location-church-about-container">
        <div class="invitation">
            <div class="invitation-heading">
                <div class="heading">
                    <label>
                        {{page.message_from_location_church_heading}}
                    </label>
                    <div id="border"></div>
                </div>
                <div class="invitation-text">
                    <label>
                        {{page.message_from_location_church_text|richtext}}
                    </label>
                </div>
            </div>
            <div class="first-closing-advert">
                <div class="advert1" style="background-image: {% if page.location_church_image1 %} url('{{page.location_church_image1.url}}') {% else %} url('/static/images/house.jpg') {% endif %}; background-size: cover; backgound-repeat: no-repeat;"></div>
                <div class="advert2" style="background-image: {% if page.location_church_image2 %} url('{{page.location_church_image2.url}}') {% else %} url('/static/images/house.jpg') {% endif %}; background-size: cover; backgound-repeat: no-repeat;"></div>
            </div>
        </div>
        <div class="closing-advert">
            <div class="invitation-advert" style="background-image: {% if page.location_church_image3 %} url('{{page.location_church_image3.url}}') {% else %} url('/static/images/house.jpg') {% endif %}; background-size: cover; backgound-repeat: no-repeat;"></div>
            <div class="closing-text">
                <label>
                    {{page.message_from_location_church_text2|richtext}}
                </label>
                <div class="learn-more end">
                    <label><a href="#" class="learn-more-link">LEARN MORE</a></label>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block extra_script %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock %}

</html>