{% extends "base.html" %}{% load wagtailcore_tags %}{% load static %}{% load wagtailimages_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% block title %}
    <title>Home - DLBC Nashsville</title>{% endblock %}
</head>

<body>
    {% block content %}
    <div class="container-fluid hero-section" style="background-image: url('/static/images/431243036_928578379050327_5003254198322004998_n.webp'); background-size: cover; background-repeat: no-repeat;">
        {% include "header.html" %}
        <div class="hero-section-main-text">
          {{page.hero_section_title|title}}
        </div>
        <div class="hero-section-full-text">
          <p>{{page.hero_section_text|richtext}}</p>
        </div>
    </div>
    <div class="container-fluid event-container slideshow" dir="ltr">
      {% for event in events %}
      <div>
        <div class="event-card">
          <div class="event-image-container">
            <img src="{{event.event_image.url}}" alt="{{event.event_name}}">
          </div>
          <div class="event-container-desc">
            <div class="event-header">
                <h1>{{event.event_name}}</h1>
                <p>{{event.short_description|richtext}}</p>
            </div>
            <div class="event-info">
                <div class="event-date event-info-key event-info-metric pad-right">
                <h2>Date</h2>
                <p>{{event.event_start_date|date:"d M Y"}} - {{event.event_end_date|date:"d M Y"}}</p>
                </div>
                <div class="event-time event-info-key event-info-metric pad-left pad-right">
                <h2>Time</h2>
                <p>{{event.event_start_time}} - {{event.event_end_time}}</p>
                </div>
                <div class="event-cta event-info-key pad-left pad-right">
                <button class="btn register">Register</button>
                </div>
            </div>
            <div class="event-location">
                <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.58553 6.88542C13.2328 2.23818 20.7674 2.23818 25.4147 6.88542C30.0619 11.5327 30.0619 19.0673 25.4147 23.7146L17.0001 32.1291L8.58553 23.7146C3.93829 19.0673 3.93829 11.5327 8.58553 6.88542ZM17.0001 18.7C18.8779 18.7 20.4001 17.1778 20.4001 15.3C20.4001 13.4222 18.8779 11.9 17.0001 11.9C15.1223 11.9 13.6001 13.4222 13.6001 15.3C13.6001 17.1778 15.1223 18.7 17.0001 18.7Z" fill="#494949"/>
                </svg>
                {{event.event_venue}}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    
    <div class="about-us container-fluid">
      <div class="about-main">
        <div class="about-header">
          <h1>ABOUT US</h1>
          <a class="btn learn-more" role="button" href="{{ settings.home.ImportantPages.page_url.about }}">LEARN MORE</a>
        </div>
        <div class="about-us-body-container">
          <div class="about-section about-section-1">
            <div>
              <h2>{{page.about_church_title_1}}</h2>
              <p>{{page.about_church_text_1|richtext}}</p>
              <a href="{{ settings.home.ImportantPages.page_url.about }}" class="learn-more-link">Learn More</a>
            </div>
            <div class="about-image about-image-1" style="background-image: url('{{page.about_church_image_1.url}}'); background-size: cover; background-repeat: no-repeat;"></div>
          </div>
          <div class="about-section">
            <div class="about-image about-image-2" style="background-image: url('{{page.about_church_image_2.url}}');background-size: cover; background-repeat: no-repeat;"></div>
            <h2>{{page.about_church_title_2}}</h2>
            <p>{{page.about_church_text_2|richtext}}</p>
            <a href="{{ settings.home.ImportantPages.page_url.about }}" class="learn-more-link">Learn More</a>
          </div>
          <div class="about-section about-section-1">
            <div>
              <h2>{{page.about_church_title_3}}</h2>
              <p>{{page.about_church_text_3|richtext}}</p>
              <a href="{{ settings.home.ImportantPages.page_url.about }}" class="learn-more-link">Learn More</a>
            </div>
            <div class="about-image about-image-1" style="background-image: url({{page.about_church_image_3.url}}); background-size: cover; background-repeat: no-repeat;"></div>
          </div>
        </div> 
      </div>
      <div class="palm-image">
        <img src="/static/images/palm.png" alt="">
      </div>
    </div>
    <div class="worship-service container-fluid">
      <div class="worship-service-header">
        <h1>Join Us for worship</h1>
        <p>We are a family-oriented place for true worship, undiluted teachings, and unwavering charge to preach the gospel of Jesus to a dying world.</p>
      </div>
      <div class="service-day-container">
        {% for service in worship_services %}
        <div class="service-day-card">
          <div class="date">
            <h2 class="month"></h2>
            <h2 class="day" id="{{service.service_day}}"></h2>
          </div>
          <div class="service-image"><img src="{{service.service_image.url}}" alt="{{service.service_title}}"></div>
          <div class="service-day-info">
            <h2>{{service.service_title}}</h2>
            <p>{{service.service_description}}</p>
            <div class="week-day-time">
              <div class="week-day">{{service.service_day}}</div>
              <div class="time">{{service.start_time}}</div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="gck-daily-and-devotionals">
      <div class="about-header">
        <div class="header-text">
          <h1>GCK DAILY</h1>
          <p>Inspiring Messages Just for You</p>
        </div>
        <a class="btn learn-more" role="button" href="https://gckhq.org/">LEARN MORE</a>
      </div>
      <div class="gck-devotional-container">
        <div class="gck-daily">
          <iframe class="gck-video" src="https://www.youtube.com/embed/videoseries?si=YPj_lINCDTJfiwrH&amp;list=PLhUSSHKj-nG_f2IOOj6Au917Juj0lVVcl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
          </iframe>
        </div>
        <div class="devotional-container">
          {% for devotional in daily_devotions %}
          <div class="devotional-card">
            <img src="{{devotional.devotion_image.url}}" alt="{{devotional.devotion_type}}"><br>
            <a href="{{devotional.devotion_url}}">{{devotional.devotion_type}}</a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="scholarship-section" style="background: url('/static/images/scholarshipsectionimage.jpg'); background-size: cover; background-repeat: no-repeat;">
      <div class="about-header">
        <div class="header-text">
          <h1>scholarship programmes</h1>
          <p>Inspiring Messages Just for You</p>
        </div>
        <a class="btn learn-more" href="{{ settings.home.ImportantPages.page_url.scholarship }}">See All</a>
      </div>
      <div class="scholarship-main-text">
        <h2>{{scholarship.scholarship_title}}</h2>
        <p>{{scholarship.short_description}}</p>
        <a class="btn donate-btn" href="{% pageurl scholarship %}">Participate</a>
      </div>
    </div>
    <div class="outreach-section">
      <div class="about-header">
        <div class="header-text">
          <h1>Charity/Community outreach</h1>
          <p>Inspiring Messages Just for You</p>
        </div>
        <a class="btn learn-more" role="button" href="{{ settings.home.ImportantPages.page_url.outreach }}">See All</a>
      </div>
      <div class="outreach-content-main">
        <div class="outreach-image">
          <img src="{{outreach.outreach_image.url}}" alt="{{outreach.outreach_title}}">
        </div>
        <div class="outreach-text">
          <h2>{{outreach.outreach_title}}</h2>
          <p>{{outreach.short_description}}</p>
          <a class="btn donate-btn" href="{% pageurl outreach %}">Participate</a>
        </div>
      </div>
    </div>
    <div class="donate-section" style="background: {% if page.donate_background_image %} url('{{page.donate_background_image.url}}') {% else %} url('/static/images/donate.jpg') {% endif %}; background-size: cover; background-repeat: no-repeat;">
      <div class="donate-main-text">
        Sow Seeds of Faith: Donate to Deeper Life Church
      </div>
      <div class="donate-sub-text">
        <p>Join our community in sowing seeds of faith and nurturing growth in hearts and lives worldwide.</p>
        <a class="btn donate-btn" role="button" href="{{ settings.home.ImportantPages.page_url.donate }}">Donate</a>
      </div>
    </div>
    <div class="locate-us container-fluid">
      <div class="map">
        <div class="map-header">
          <h3>Where to find us</h3>
          <h2>{{page.church_name}}</h2>
          <p>{{page.church_description1}}</p>
        </div>
        <div class="google-map">
          <iframe src="{{page.church_google_map_embed_iframe}}" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
      <div class="church">
        <div class="church-image">
          <img src="{{page.church_location_image.url}}" alt="">
        </div>
        <div class="church-info">
          <h2>{{page.church_name}}</h2>
          <p>{{page.church_description2}}</p>
          <div class="contacts">
            <div class="contact">
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.3999 5.0999C3.3999 4.16102 4.16102 3.3999 5.0999 3.3999H8.75979C9.59081 3.3999 10.3 4.0007 10.4367 4.82042L11.6935 12.3614C11.8162 13.0976 11.4444 13.8277 10.7769 14.1614L8.14504 15.4773C10.0428 20.193 13.8068 23.9571 18.5225 25.8548L19.8384 23.2229C20.1721 22.5554 20.9022 22.1836 21.6384 22.3063L29.1794 23.5631C29.9991 23.6998 30.5999 24.409 30.5999 25.24V28.8999C30.5999 29.8388 29.8388 30.5999 28.8999 30.5999H25.4999C13.2944 30.5999 3.3999 20.7054 3.3999 8.4999V5.0999Z" fill="#494949"/>
              </svg>
              <a href="tel:{{ settings.home.SiteContact.phone2 }}">{{ settings.home.SiteContact.phone2 }}</a>
            </div>
            <div class="contact">
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.40557 10.0018L16.9998 16.799L30.5942 10.0018C30.4917 8.21616 29.0112 6.7998 27.1999 6.7998H6.7999C4.98858 6.7998 3.50808 8.21621 3.40557 10.0018Z" fill="#494949"/>
                <path d="M30.5999 13.8002L16.9998 20.6003L3.3999 13.8003V23.7998C3.3999 25.6776 4.92213 27.1998 6.7999 27.1998H27.1999C29.0777 27.1998 30.5999 25.6776 30.5999 23.7998V13.8002Z" fill="#494949"/>
              </svg>
              <a href="mailto:{{ settings.home.SiteContact.email1 }}">{{ settings.home.SiteContact.email1 }}</a>
            </div>
            <div class="contact">
              <svg width="24" height="30" viewBox="0 0 24 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.58553 3.88533C8.23277 -0.761907 15.7674 -0.761908 20.4147 3.88533C25.0619 8.53257 25.0619 16.0672 20.4147 20.7145L12.0001 29.129L3.58553 20.7145C-1.06171 16.0672 -1.06171 8.53257 3.58553 3.88533ZM12.0001 15.6999C13.8779 15.6999 15.4001 14.1777 15.4001 12.2999C15.4001 10.4221 13.8779 8.8999 12.0001 8.8999C10.1223 8.8999 8.6001 10.4221 8.6001 12.2999C8.6001 14.1777 10.1223 15.6999 12.0001 15.6999Z" fill="#494949"/>
                </svg>
              <address>{{ settings.home.SiteContact.address }}</address>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="connect-section" style="background: {% if page.connect_with_us_image %} url('{{page.connect_with_us_image.url}}') {% else %} url('/static/images/connectwithus.jpg') {% endif %}; background-size: cover; background-repeat: no-repeat;">
      <div class="donate-main-text">
        connect with us
      </div>
      <div class="donate-sub-text">
        <p>{{page.connect_with_us_sub_text}}</p>
        <a class="btn donate-btn" role="button" href="{{ settings.home.ImportantPages.page_url.contact }}">Reach out</a>
      </div>
    </div>

    <script src="/static/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <script>
      
      let sunday = dayjs().day(0).$D
      let monday = dayjs().day(1).$D
      let tuesday = dayjs().day(2).$D
      let wednesday = dayjs().day(3).$D
      let thursday = dayjs().day(4).$D
      let friday = dayjs().day(5).$D
      let saturday = dayjs().day(6).$D

      const month = ["January","February","March","April","May","June","July","August","September","October","November","December"];
      const d = new Date();
      let month_name = month[d.getMonth()];
      let month_short = document.querySelectorAll('.month');
      month_short.forEach((ele)=>{
        ele.innerText = month_name
      })
      const friday_number = document.querySelector('#Friday');
      friday_number.innerText = friday;
      const sunday_number = document.querySelector('#Sunday');
      sunday_number.innerText = sunday;
      const monday_number = document.querySelector('#Monday');
      monday_number.innerText = monday;
      const thursday_number = document.querySelector('#Thursday');
      thursday_number.innerText = thursday;
      
      const tuesday_number = document.querySelector('#Tuesday');
      tuesday_number.innerText = tuesday;
      const wednesday_number = document.querySelector('#Wednesday');
      wednesday_number.innerText = wednesday;
      
      const saturday_number = document.querySelector('#Saturday');
      saturday_number.innerText = saturday;
    </script>
    {% endblock content %}
</body>

</html>