{% extends "base.html" %}{% load wagtailcore_tags %}{% load static %}{% load wagtailimages_tags %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="veiwpoint" content="width=device-width, initial-scale=1.0" /> {% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/new.css' %}" /> {% endblock %}
</head>


<body>
    {% block content %}
    <div class="parent">
        <div class="main-header" style="background-image: {% if page.banner %} url('{{page.banner.url}}') {% else %} url('/static/images/newhead.jpg') {% endif %};
            background-size: cover;
            background-repeat: no-repeat;">
            {% include "header.html" %}
            <div class="im-new">
                <h2>{{page.caption_title|title}}</h2>
                <p>
                    {{page.caption_text|richtext}}
                </p>
            </div>
        </div>
        <div class="message-advert">
            <img src="/static/images/newfirst.jpg" style="width: 100%; height: 40%; box-shadow: 0px 10px 10px 0px; border-radius: 10px;" alt="#">
            <div class="invitation-massage">
                 <h2>
                    {{page.first_section_title|title}}
                 </h2>
                <div class="boder-sec">
                    <div id="boder"></div>
                </div>
                 <p>
                    {{page.first_section_body|richtext}}
                 </p>
            </div>
        </div>
        <div class="teaching">
            <h2>
                {{page.second_section_title|title}}
            </h2>
            <p>
                {{page.second_section_body|richtext}}
            </p>
        </div>
        <div class="end-message">
            <div class="end" style="background-image: url('/static/images/summer-leaf-background-free-vector.jpg');">
               <div class="Spiritual">
                  <h2>
                     {{page.third_section_title|title}}
                  </h2>
                  <p>
                     {{page.third_section_body|richtext}}
                  </p>
               </div>
               <div class="join">
                  <a href="#" class="learn-more-link"> Join Us </a>
               </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>