*{
    padding: 0%;
    margin: 0%;
}
.main{
    padding: 0 5%;
    padding-right:8% ;
}
.loading{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 0px 2% 2% 2%;
}
.load{
    height: 120px;
    width: 150px;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
    background-color: #7479FF;
    text-align: center;
}
/* .load1{
    background-color: aquamarine;
} */
.load h3{
    font-size: 30px;
    font-weight: 700;
}
.load *{
    color: #ffffff;
}
/* .load2{
    background-color: rgb(114, 180, 158);
}
.load3{
    background-color: rgb(163, 177, 172);
} */
.main .title h3{
    font-size: 32px;
    font-weight: 600;
}
.main .title p{
    font-size: 24px;
    font-weight: 600;
}
.title{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
table{
    width: 100%;
}
th{
    text-align: left;
}
.hide{
    padding-left: 0px;
}
.color p{
    background-color: #C6E0FF;
    width: fit-content;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 10px;
}
.color p:hover {
    background-color: rgb(212, 244, 233);
}
table{
    padding: 3%;
}
td{
    padding-top: 3%;
}
.nav-tab-menu{
    display: flex;
    gap: 35px;
}
.nav-tab-menu .btn{
    background-color: #dfdfdf;
    border-radius: 15px;
    padding: 6px 10px;
    font-weight: 700;
}
#book-search{
    margin-bottom: 20px;
}
@media (max-width:1000px){
    .load{
        width:150px;
        height: 150px;
    }
    .load h3{
        font-size: 25px;
    }
}
@media (max-width:650px){
    .load{
        width:130px;
        height: 130px;
    }
    .load h3{
        font-size: 25px;
    }
    .hide{
        display: none;
    }
}
@media (max-width:530px){
    .load{
        width:110px;
        height: 110px;
    }
    .load h3{
        font-size: 20px;
    }
    .hide{
        display: none;
    }
}
@media (max-width:450px){
    .load{
        width:100px;
        height: 100px;
    }
    .load h3{
        font-size: 20px;
    }
    .hide{
        display: none;
    }
}
@media (max-width:400px){
    .load{
        width:80px;
        height: 80px;
    }
    .load h3{
        font-size: 15px;
    }
    .load p{
        font-size: 10px;
    }
    .hide{
        display: none;
    }
}