*{
    padding: 0%;
    margin: 0%;
  }
  .main-header{
        padding-bottom: 60px;
        width: 100%;
        height: fit-content;
  }
  .im-new{
      color: white;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
      padding: 20px;
  }
  .im-new h2{
      text-transform: uppercase;
      font-size: xxx-large;
  }
  .im-new p{
      width: 50%;
      font-size: larger;
      text-align: center;
      /* padding-left: 25%; */
      padding-top: 5px;
  }
  .message-advert{
      display: flex;
      padding: 5%;
      gap: 25px;
  }
  .invitation-massage{
      padding-top: 8%;
  }
  .invitation-massage h2{
      color: var(--primary-blue);
      font-size: 30px;
      font-family: arial;
      text-transform: capitalize;
      font-weight: bolder;
  }
  .boder-sec{
      padding: 2%;
  }
  #boder{
      border: 2px solid var(--primary-red);
      width: 60px;
      border-radius: 10px;
  }
  .invitation-massage p{
      padding-top: 2%;
      font-size: larger;
      font-family:arial;
      line-height: 1.5;
  }
  .teaching{
      padding: 3%;
      padding-left: 8%;
    
  }
  .teaching h2{
      color: var(--primary-blue);
      font-size: xx-large;
      width: 35%;
      font-weight: bolder;
  }
  .teaching p{
      width: 70%;
      font-size: larger;
      font-family:arial;
      line-height: 1.5;
      /* padding-top: 3%; */
  }
  .end-message{
     padding: 3%;
     padding-left: 4%;
  }
  .end{
      padding: 50px 20px;
      border-radius: 10px;
      height: fit-content;
      display: flex;
      background-size: cover;
      gap: 20px;
      background-repeat: no-repeat;
  }
  .Spiritual{
      width: 80%;
  }
  .end h2{
      color: white;
      font-size: 55px;
      width: auto
  }
  .end p{
      color: white;
      width: auto;
      font-size: larger;
      font-family:arial;
      line-height: 1.5;
      padding-top: 10px;
      max-width: 726px;
  }
  .join{
      padding-top: 5%;
      
  }
  .join > a{
      color: white;
      border: solid white;
      border-radius: 20px;
      /* padding: 30%; */
      text-decoration: none;
      font-weight: bold;
      display: flex;
      justify-content: center;
      /* padding-top: 10px; */
      /* padding-bottom: 10px; */
      background: transparent;
  }
  
  .learn-more-link{
      text-decoration: none;
      color: white;
      padding: 20px;
      font-weight: bold;
      padding: 10px 30px;
      background-color:  var(--primary-red);
      width: fit-content;;
      border-radius: 5px;
  }
  
  @media ( max-width:1120px){
      .message-advert{
          flex-wrap: wrap;
      }
      .teaching h2{
          width: 100%;
      }
      .teaching p{
          width: 100%;
      }
      .end{
          flex-wrap: wrap;
      }
      .parent * p{
          font-size: 14px;
      }
      .parent *h1, h2, h3, h4{
          font-size: 24px;
      }
      /* .main-header{
          height: 700px;
      } */
      /* .im-new{
          padding-top: 45%;
      } */
  }
  @media ( max-width:496px){
      .message-advert{
          flex-wrap: wrap;
      }
      .teaching h2{
          width: 100%;
      }
      .teaching p{
          width: 100%;
      }
      .end{
          flex-wrap: wrap;
      }
      .parent * p{
          font-size: 14px;
      }
      .parent *h1, h2, h3, h4{
          font-size: 24px;
      }
      .im-new p{
        width: 100%;
        font-size: 14px;
    }
    .teaching h2{
        width: 90%;
    }
    .teaching p{
        width: 100%;
    }
    .end h2{
        font-size: 30px;
    }
  }