*{
    padding: 0%;
    margin: 0%;
}
.scholarship-header{
    padding-top: 40px;
    /* padding-bottom: 60px; */
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.scholarship{
    width: 47%;
    color: white;
    /* padding-top: 15%; */
    padding-left: 7%;
    padding-bottom: 10px;
}
.scholarship h2{
    font-size: 100px;
    padding: 1%;
    text-transform: uppercase;
}
.scholarship p{
    font-size:20px;
    font-family: arial;
    line-height: 1.5;
    padding: 2%;
}
.bible-quote{
    display: flex;
    padding: 5%;
    gap: 20px;
}
.qoute{
    height: 250px;
    width: 100%;
    border-radius: 10px;
}
.qoute p{
    color: white;
    padding-top: 35%;
    padding-left: 5%;
    font-size: large;
}
.qoute1{
    background-size: cover;
    height: 250px;
    width: 100%;
    border-radius: 10px;
}
.qoute1 p{
    color: white;
    padding-top: 35%;
    padding-left: 5%;
    font-size: large;
}
.qoute2{
    background-size: cover;
    height: 250px;
    width: 100%;
    border-radius: 10px;
}
.qoute2 p{
    color: white;
    padding-top: 35%;
    padding-left: 5%;
    font-size: large;
}
.invitation{
    display: flex;
    gap: 40px;
    padding-bottom: 5%;
}
.invitation h2{
    color: #000468;
    width: 85%;
    padding-top: 15%;
    font-size: xx-large;
}
.invitation p{
    width: 90%;
    line-height: 1.5;
    font-size:larger;
    padding-top: 10%;
}
.todays-charge{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    /* height: 60%; */
}
.todays-charge h1{
    color: #C12A2A;
    font-style: italic;
    text-align: center;
    padding-top: 2%;
    font-size: 100px;
    font-family: arial;
}
.todays-charge p{
    width: 60%;
    padding-left: 20%;
    font-size: x-large;
    font-family: arial;
    line-height: 1.5;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 10px;
}

@media (max-width:1200px){
    .scholarship {
        padding-bottom: 20px;
    }
    .scholarship h2{
        font-size: 70px;
    }
    .scholarship p{
        font-size: 15px;
    }
}
@media (max-width:1045px){
    .invitation{
        flex-wrap: wrap;
    }
    .invitation-text{
        width: 100%;
        padding-left: 5%;
        padding-top:  0%;
    }
    .invitation h2{
        padding-top: 0%;
    }
    .invitation p{
        padding-top: 2%;
    }
    .todays-charge{
        height: 282px;
    }
    .todays-charge h1{
        font-size: 40px;
    }
    .todays-charge p{
        padding-top: 1px;
        padding-bottom: 3px;
        /* width: 100%; */
    }
    .qoute{
        width: 100%;
    }
    .bible-quote{
        overflow-x: scroll;
    }
    .qoute, .qoute1, .qoute2{
        min-width: 290px;
        max-width: 457px;
    }
}
@media (max-width:900px){
    .todays-charge p{
        padding-top: 1px;
        padding-bottom: 3px;
       font-size: 15px;
    }
    .scholarship {
        width: 100%;
    }
    .scholarship p{
        width: 85%;
        font-size: 10px;
    }
}
@media (max-width:600px){
    .todays-charge p{
        padding-top: 1px;
        padding-bottom: 3px;
       font-size: 15px;
    }
    .scholarship {
        width: 100%;
    }
    .scholarship p{
        width: 85%;
        font-size: 10px;
    }
    .scholarship h2{
        font-size: 30px;
    }
}