*{
    padding: 0px;
    margin: 0px;
}
.about-page .top-banner{
    /* height: 450px; */
    width: 100%;
    height: fit-content;
    padding-bottom: 50px;
    
}
/* .top-header{
    background-image: url(top.jpg);
    width: 100%;
    height: 500px;
    background-size: cover;
} */
.top-header-text{
    color: white;
    padding-left: 10%;
    padding-top: 15%;
}
.top-header h2{
    text-transform: uppercase;
    font-size: xxx-large;
    width: 40%;
}
.top-header p{
    width: 60%;
    padding-top: 3%;
    font-size: larger;
}
.invitation-charge{
    display: flex;
    gap: 20px;
    padding: 5%;
}
.invitation-charge2{
    display: flex;
    gap: 20px;
    padding: 5%;
    padding-bottom: 10%;
}
.text-body{
    background-color: #F6F6F6;
    border-radius: 0px 0px 10px 10px;
}
.invitation1{
    max-width: 490px;
    width: 100%;
}
.invitation1 h2{
    color: #16365E;
    padding-top: 2%;
    font-family: arial;
    padding: 2%;
    font-size: 24px;
}
.invitation1 p{
    padding: 2%;
    font-size: 16px;
    padding-bottom: 7%;
}
#link{
    padding: 2%;
    padding-bottom: 25px;
}
a{
    text-decoration: none;
    font-weight: bold;
    background-color: #C12A2A;
    padding: 15px;
    border-radius: 10px;
    width: 90px;
    color: white;
 
}

@media (max-width:1000px){
    .invitation-charge{
        flex-wrap: wrap;
    }
}
@media (max-width:496px){
    .invitation-charge{
        flex-wrap: wrap;
    }
}