<!DOCTYPE html>
{% extends 'base.html' %} {% load wagtailcore_tags %} {% load static %} {% load wagtailimages_tags %} {% load humanize %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% block og_tag %}
    <meta property="title" content="Blog: {{page.post_title}}" />
    <title>{{page.post_title}}</title>
    <meta property="og:title" content="Blog: {{page.post_title}}" />
    <meta property="og:description" content="{{page.body|truncatewords:40}}" />
    <meta property="og:image" content="{{page.post_image.url}}" /> {% endblock og_tag %}
    {% block extra_styles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/mini.css' %}" />
    {% endblock %}
</head>
<body>
    {% block content %}
    <div class="blog-page-container" style="background-image: {% if page.banner %} url('{{page.banner.url}}'); {% else %}url('/static/images/blogtop.jpg'); {% endif %}">
        {% include "header.html" %}
    </div>
    <div class="body">
        <div class="white">
            <div class="text-side">
                <h3>
                    {{page.post_category|title}}
                </h3>
                <p>{{page.date_created|timesince}}</p>
                <div class="text-topic">
                    <h2>
                        {{page.post_title|title}}
                    </h2>
                </div>
                <div class="image">
                    <img src="{{page.post_image.url}}" style="width: 100%; height: 75%; border-radius: 10px; background-size: cover;" alt="{{page.post_title}}">
                </div>
                <div class="charge">
                    {{page.body|richtext}}
                </div>
            </div>
        </div> 
        <!-- <div class="comment-section">
            <h2>
                leave a comment
            </h2>
        </div>
        <div class="comment">
            <div class="comment-entery">
                <div id="circle"></div>
                <div class="name">
                    <input id="input" type="text" placeholder="Enter Your Name">
                    <div class="text-area">
                        <form >
                            <textarea id="bio" name="  Your comment Here!!!" placeholder="  Your comment Here!!!" >
                                
                            </textarea>
                        </form>
                    </div>
                </div>
            </div> 
            <div class="old-comments">
                <div class="list-style"></div>
                <div class="commentator-details">
                    <h3>
                        amanda smith
                    </h3>
                    <p>
                        TODAY: 10:25am
                    </p>
                    <h4>
                        Dive into the everyday occurrences where grace shines through, 
                        from a simple smile to a kind gesture, and how these moments 
                        connect us to something greater.
                    </h4>
                </div>
            </div>
        </div> -->
        <div class="more-post">
            <h2>
                more post
            </h2>
        </div>
        <div class="post">
            {% for post in related_content %}
            <div class="post1">
                <img src="{{post.post_image.url}}" style="width: 100%; height: 60%; border-radius: 10px;  box-shadow: 0px 5px 5px 0px #dbdbdb;" alt="#">
                <p id="author">{{post.post_category|title}}</p>
                <h3>
                    {{post.post_title|title}}
                </h3>
                <p>
                    {{post.date_created|date:"d M Y"}}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}
</body>
</html>