@font-face {
    font-family: Roboto;
    src: url('/mini blog/RobotoSerif-Medium.ttf');
}

*{
    padding: 0%;
    margin: 0%;
}
h1,h2,h3,h4,h5,h6{
    font-family: Roboto;
    line-height: 1.2;
}
.header{
    background-image: url(top.jpg);
    width: 100%;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
}
.body{
    padding: 10%;
}
.white{
    background-color: white;
    height: auto;
    padding: 0%;
    margin-top: 260px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 3px 5px 5px #d9dee4;
}
.text-side{
  padding: 5%;
  padding-top: 8%;
}
.text-side h3{
    color: #C12A2A;
    font-size: large;
    text-transform: uppercase;
}
.text-side p{
    font-size: small;
    padding-top: 1%;
}
.text-topic{
    color: #16365E;
    font-size: 20px;
    width: 70%;
    padding-top: 2%;
}
.image{
    padding: 5%;
    padding-left: 0%;
}
.charge h2{
    color: #C12A2A;
    width: 90%;
    text-transform: capitalize;
    font-size: 27px;
    font-family: Roboto;
}
.charge  p{
    font-size: 18px;
    list-style: 2px;
}
li{
    font-size: 18px;
    list-style: 2px; 
    padding: 1%;
}
.comment-section{
    background-color: #16365E;
    width: 100%;
    height: 50px;
}
.comment-section h2{
  padding: 2%;
  padding-left: 2%;
  color: white;
  font-size: large;
}
.comment{
    padding-left: 4%;
    padding-top: 2%;
}
.comment-entery{
   
    display: flex;
}
#circle{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #16365E;
}
.name{
    width: 100%;
    padding-left: 4%;
    padding-top: 0.8%;
}
#input{
    padding: 1%;
    width: 100%;
    font-size: large;
    outline: none;
    border: solid #C6E0FF;
    border-radius: 10px;
}
.text-area{
    width: 100%;
    padding-top: 1%;
}
#bio{
    padding:1%;
    width: 100%;
    font-size: large;
    outline: none;
    border: solid #C6E0FF;
    border-radius: 10px;
}
.list-style{
    height: 40px !important;
    width: 40px !important;
    border-radius: 50%;
    background-color: #EDA600 ;
}
.old-comments{
    padding-top: 3%;
    display: flex;
}
.commentator-details{
    padding-left: 3%;
}
.commentator-details h3{
    color: #16365E;
    text-transform: capitalize;
}
.commentator-details p{
    font-size: small;
}
.commentator-details h4{
    padding-top: 2%;
    width: 90%;
}
.list-style1{
    height: 40px !important;
    width: 40px !important;
    border-radius: 50%;
    background-color: #C6E0FF;
}
.list-style2{
    height: 40px !important;
    width: 40px !important;
    border-radius: 50%;
    background-color: #FF5050;
}
.more-post {
   padding-top: 4%;
}
#author{
    color: #16365E;
    padding-top: 1%;
}
.more-post h2{
    text-transform: capitalize;
    color: #C12A2A;
    font-size: x-large;
}
.post{
    display: flex;
    gap: 10px;
}
.post1 h3{
    width: 95%;
    font-size: x-large;
    padding-top: 2%;
}
.post1 p{
    color: #C12A2A;
    padding-top: 2%;
}
.footer{
    background-color: rgb(190, 190, 233);
    width: 100%;
    min-height: 200px;
    max-height: 3000px;
}
.footer-outline{
    display: flex;
    padding: 30px;
    gap: 50px;
}
.copy-right{
    width: 20%;
    padding-top: 30px;
   
}
#deeperlife{
    color: red;
    font-size: 13px;
    padding-top: 40px;
    font-family: arial;
    font-weight: bold;
}
.get-in-touch{
    width: 20%;
    
}
#get-in-touch{
    color:  rgb(219, 91, 91);
    font-family: arial;
    font-weight: bold;
}
.get-in-touch > *{
    padding:5px; 
}
address{
    width: 70%;
}
.social-media{
    width: 20%;  
}
svg{
    height: 25px;
    width: 25px;
}
.social-media > p{
    width: 80%;
    padding-top: 5%;
}
.donate{
    padding-top: 30px;
}
.suscribe{
    width: 20%;
}
.suscribe > h3{
    color:  rgb(219, 91, 91);
    font-family: arial;
    font-weight: bold;
    padding: 5px;
}
.suscribe > p{
    padding: 10px;
    font-weight: bold;
    color: rgb(35, 32, 32);
    
}
a{
    text-decoration: none;
    color: white;
    padding: 20px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:  rgb(219, 91, 91);
    width: 90px;;
    border-radius: 5px;
}
.e-mail{
    width: 100%;
    height: 20px;
    padding: 10px;
    border: 2px solid  rgb(219, 91, 91);
    border-radius: 10px;
}
input:focus{
    outline: none;
}
.subscrib-botton {
    padding-top: 20px;
}
address{
    display: flex;
    gap: 4px;
}
#numer{
    display: flex;
    gap: 4px;
}
#message{
    display: flex;
    gap: 4px;
}
#address-icon{
    width: 30px;
    height:30px;
}