<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/statics/css/style.css">
</head>
<body>
    <div class="container-fluid hero-section" style="background-image: url('/statics/images/landingbg.png'); background-size: cover; background-repeat: no-repeat;">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                  <button class="navbar-toggler ham-menu" onclick="hideLogo()" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse nav-container" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">I'm New</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">About</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Sermons</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Blog</a>
                          </li>
                        </ul>
                  </div>
                  <a class="navbar-brand" href="/">
                    <img src="/statics/images/logo.png" alt="">
                  </a>
                  <div class="collapse navbar-collapse nav-container" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Resources
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#">Books & Literature</a></li>
                          <li><a class="dropdown-item" href="#">Communuty Outreach</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Scholarships</a></li>
                        </ul>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active btn join-us-btn" aria-current="page" href="#">Join us</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Donate</a>
                      </li>
                    </ul>
                  </div>
                </div>
            </nav>
        </header>
        <div class="hero-section-main-text">
          Embrace the Journey: Discover Deeper Life
        </div>
        <div class="hero-section-full-text">
          <p>Embrace the call to reach every soul, regardless of race, social status, or language. We are devoted to sharing God's love and grace, nurturing individuals toward spiritual maturity in the image of Christ.</p>
        </div>
    </div>
    <div class="container-fluid event-container">
      <div class="event-image-container">
        <img src="/statics/images/easter retreat.jpg" alt="">
      </div>
      <div class="event-container-desc">
        <div class="event-header">
          <h1>Upcoming Events</h1>
          <p>Embrace the call to reach every soul, regardless of race, social status, or language. We are devoted to sharing God's love and grace, nurturing individuals toward spiritual maturity in the image of Christ.</p>
        </div>
        <div class="event-info">
          <div class="event-date event-info-key event-info-metric pad-right">
            <h2>Date</h2>
            <p>Feb 22nd - 27th</p>
          </div>
          <div class="event-time event-info-key event-info-metric pad-left pad-right">
            <h2>Time</h2>
            <p>16:00 - 22:30</p>
          </div>
          <div class="event-cta event-info-key pad-left pad-right">
            <button class="btn register">Register</button>
          </div>
        </div>
        <div class="event-location">
          <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.58553 6.88542C13.2328 2.23818 20.7674 2.23818 25.4147 6.88542C30.0619 11.5327 30.0619 19.0673 25.4147 23.7146L17.0001 32.1291L8.58553 23.7146C3.93829 19.0673 3.93829 11.5327 8.58553 6.88542ZM17.0001 18.7C18.8779 18.7 20.4001 17.1778 20.4001 15.3C20.4001 13.4222 18.8779 11.9 17.0001 11.9C15.1223 11.9 13.6001 13.4222 13.6001 15.3C13.6001 17.1778 15.1223 18.7 17.0001 18.7Z" fill="#494949"/>
          </svg>
          Royal Block, East Land
        </div>
      </div>
    </div>
    <div class="about-us container-fluid">
      <div class="about-main">
        <div class="about-header">
          <h1>ABOUT US</h1>
          <button class="btn learn-more">LEARN MORE</button>
        </div>
        <div class="about-us-body-container">
          <div class="about-section about-section-1">
            <div>
              <h2>Our Ministry</h2>
              <p>We are a family-oriented place for true worship, undiluted teachings</p>
              <a href="#" class="learn-more-link">Learn More</a>
            </div>
            
            <div class="about-image about-image-1" style="background-image: url('/statics/images/aboutim1.jpg'); background-size: cover; background-repeat: no-repeat;"></div>
          </div>
          <div class="about-section">
            <div class="about-image about-image-2" style="background-image: url('/statics/images/aboutim2.jpg');background-size: cover; background-repeat: no-repeat;"></div>
            <h2>Our Believe</h2>
            <p>We are a family-oriented place for and unwavering charge to preach the gospel of Jesus to a dying world.</p>
            <a href="#" class="learn-more-link">Learn More</a>
          </div>
          <div class="about-section about-section-1">
            <div>
              <h2>Our Ministry</h2>
              <p>We are a family-oriented place for true worship, undiluted teachings, and unwavering</p>
              <a href="#" class="learn-more-link">Learn More</a>
            </div>
            <div class="about-image about-image-1" style="background-image: url('/statics/images/aboutim4.jpg'); background-size: cover; background-repeat: no-repeat;"></div>
          </div>
        </div> 
      </div>
      <div class="palm-image">
        <img src="/statics/images/palm.png" alt="">
      </div>
    </div>
    <div class="worship-service container-fluid">
      <div class="worship-service-header">
        <h1>Join Us for worship</h1>
        <p>We are a family-oriented place for true worship, undiluted teachings, and unwavering charge to preach the gospel of Jesus to a dying world.</p>
      </div>
      <div class="service-day-container">
        <div class="service-day-card">
          <div class="date">
            <h2 class="month">Jun</h2>
            <h2 class="day">28</h2>
          </div>
          <img src="/statics/images/biblestudy.png" alt="">
          <div class="service-day-info">
            <h2>Bible Study</h2>
            <p>Join us for uplifting worship and inspiring messages every Sunday.</p>
            <div class="week-day-time">
              <div class="week-day">Sunday</div>
              <div class="time">9:00Am</div>
            </div>
          </div>
        </div>
        <div class="service-day-card">
          <div class="date">
            <h2 class="month">Jun</h2>
            <h2 class="day">28</h2>
          </div>
          <img src="/statics/images/sundayservice.png" alt="">
          <div class="service-day-info">
            <h2>Sunday Worship</h2>
            <p>Join us for uplifting worship and inspiring messages every Sunday.</p>
            <div class="week-day-time">
              <div class="week-day">Sunday</div>
              <div class="time">9:00Am</div>
            </div>
          </div>
        </div>
        <div class="service-day-card service-day-card-last">
          <div class="date">
            <h2 class="month">Jun</h2>
            <h2 class="day">28</h2>
          </div>
          <img src="/statics/images/revivalservice.png" alt="">
          <div class="service-day-info">
            <h2>Revival Service</h2>
            <p>Join us for uplifting worship and inspiring messages every Sunday.</p>
            <div class="week-day-time">
              <div class="week-day">Sunday</div>
              <div class="time">9:00Am</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/statics/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>