{% extends "base.html" %}{% load wagtailcore_tags %}{% load static %}{% load wagtailimages_tags %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Books</title>
        {% block extra_styles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/resources.css' %}" /> 
        {% endblock %}
    </head>
    <body>
        {% block content %}
        <div class="main-heading" style="background-image: {% if page.banner %} url('{{page.banner.url}}') {% else %} url('/static/images/bookhead.jpg') {% endif %};
                background-size: cover;
                background-repeat: no-repeat;">
            {% include "header.html" %}
            <div class="main-heading-topic">
               <div class="resources">
                  <h2>Resources</h2>
                </div>
                <div class="more-information">
                   Get to know us better! Discover the heart behind Deeper Life Church
                </div>
            </div>
        </div>
        <div class="church-magazines">
            {% for book in posts %}
            <div class="first-magazine">
                <img src="{{book.book_cover_image.url}}" alt="{{book.book_title|title}}">
                <p>
                    <a href="{{book.book_download_link}}">{{book.book_title|title}}</a>
                </p>
            </div>
            {% endfor %}
        </div>
        {# Only show pagination if there is more than one page to click through #} {% if posts.paginator.num_pages > 1 %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="pagination">
                        {% if posts.has_previous %}
                        <li class="page-item">
                            <a href="?page={{ posts.previous_page_number }}" class="page-link">
                                <span>&laquo;</span>
                            </a>
                        </li>
                        {% endif %} {% for page_num in posts.paginator.page_range %}
                        <li class="page-item {% if page_num == posts.number %} active{% endif %}">
                            <a href="?page={{ page_num }}" class="page-link">
                    {{ page_num }}
                    </a>
                        </li>
                        {% endfor %} {% if posts.has_next %}
                        <li class="page-item">
                            <a href="?page={{ posts.next_page_number }}" class="page-link">
                                <span>&raquo;</span>
                            </a>
                        </li>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endblock %}
    </body>
</html>