{% load static menus_tags %}{% get_menu "leftmenu" as leftmenu %}{% get_menu "resources-menu" as resourcesmenu %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <button class="navbar-toggler ham-menu" onclick="hideLogo()" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse nav-container" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  
                  {% for item in leftmenu.menu_items.all %}
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{{item.link}}" title="{{item.title}}" {% if item.open_in_new_tab %} target="_blank" {% endif %}>{{item.title}}</a>
                    </li>
                  {% endfor %}
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Blog</a>
                  </li>
                </ul>
          </div>
          <a class="navbar-brand" href="/">
            <img src="/static/images/logo.png" alt="">
          </a>
          <div class="collapse navbar-collapse nav-container" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Resources
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% for item in resourcesmenu.menu_items.all %}
                    <li><a class="dropdown-item" href="{{item.link}}" title="{{item.title}}" {% if item.open_in_new_tab %} target="_blank" {% endif %}>{{item.title}}</a></li>
                  {% endfor %}
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link active btn join-us-btn" aria-current="page" href="#">Join us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Donate</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
</header>